.App {
   background-color: whitesmoke;
   /* min-height: calc(100vh - 500px); */
   /* position: relative; */
}

.header{
   width: 100%;
   height: 15vh;
   background-color: black;
   color: white;
   padding: 30px;
   box-sizing: border-box;
   font-size: 20px;
}


.some{
   color: red;
}

.nav-bar{
   width: 50%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   float: right;
}

.nav-bar a{
   text-decoration: none;
   color: white;
}

.body{
   width: 90%;
   margin: auto 10px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.body p{
   width: 60%;
   font-size: 20px;
}

.body img{
   width: 400px;
   border-radius: 10px;
}

.hobbies{
   padding-top: 30px;
   padding-left: 50px;
}
.hobbies li{
   font-size: 25px;
}

footer{
   width: 100%;
   text-align: center;
   background-color: #333;
   color: white;
   padding: 20px;
   position: absolute;
   bottom: 0;
}

/* Gallery page styling */
.gallery-body{
   background-color: #FFFAF0;
}
.images-container{
   display: flex;
   flex-wrap: wrap;
}

.images-container div{
   margin: 20px;
   margin-bottom: 50px;
}

.single-image{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
}

.single-image img{
   border-radius: 10px;
}

.single-image label{
   font-size: 20px;
   padding-top: 10px;
}